{% assign dataset = site.data[include.dataset] %}

<div class="container">
    <div class="row pt-2">
        <div class="col-md-2 offset-md-2 col-sm-12">
            {% for image in dataset %}
            <button class="btn btn-primary btn-block image-button" data-url="{{site.baseurl}}/{{ image[include.url] }}">{{ image[include.button_name] }}</button>
            {% endfor %}
        </div>
        <div class="col-md-6 col-sm-12">
            <img id="displayed-image" src="" alt="Image" class="img-fluid" style="display: none;">
<!--            <p id="image-description"></p>-->
        </div>
    </div>
</div>

<script>
    console.log('ciao IMG');
    document.addEventListener('DOMContentLoaded', function () {

        const buttons = document.querySelectorAll('.image-button');
        const displayedImage = document.getElementById('displayed-image');
        const imageDescription = document.getElementById('image-description');

        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                const imageUrl = this.getAttribute('data-url');
                const imageName = this.textContent;

                displayedImage.src = imageUrl;
                displayedImage.style.display = 'block';
                imageDescription.textContent = imageName;
            });
        });
        if (buttons.length > 0) {
            buttons[0].click();
        }
    });
</script>
