<div class="
{% if include.container == 'fluid' %}
    container-fluid
{% else %}
    container
{% endif %}
">
    {% if include.title %}
    <div class="row pt-2">
        <div class="{% if include.dimension == 'small' %}col-md-8 offset-md-2 col-sm-12{% else %}col-md-12{% endif %}">
            <h1>{{ include.title }}</h1>
        </div>
    </div>
    {% endif %}
<div class="row pt-2">
    <div class="{% if include.dimension == 'small' %}col-md-8 offset-md-2 col-sm-12{% else %}col-md-12{% endif %}">
        {{ include.content | markdownify }}
        {% if chart %}
        <vegachart schema-url="{{ site.baseurl }}/assets/charts/{{ chart }}" style="width: 100%"></vegachart>
        {% endif %}
    </div>
</div>
</div>