<!-- start custom head snippets -->
{% if page.vega %}
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
<script src="https://cdn.jsdelivr.net/gh/koaning/justcharts/justcharts.js"></script>
{% endif %}

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/assets/favicon/site.webmanifest">
<link rel="mask-icon" href="{{site.baseurl}}/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{site.baseurl}}/assets/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#333333">
<meta name="msapplication-config" content="{{site.baseurl}}/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#333333">

<!-- end custom head snippets -->
